﻿@model TodoApp.Web.Models.TodoIndexViewModel

@{
    ViewBag.Title = "Todo List";
}

<h2>Todo List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Konu
        </th>
        <th>
            Detay
        </th>
        <th>
            Yayın Tarihi
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ItemList)
    {
        <tr>
            <td>
                @item.Subject
            </td>
            <td>
                @item.Detail
            </td>
            <td>
                @item.PublishDate
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
    }

</table>


@if (Model.PopupItem != null)
{
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@Model.PopupItem.Subject</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Model.PopupItem.Detail
                    <input type="hidden" value="@Model.PopupItem.Id" id="popupItemId">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="popupClose">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script type="text/javascript">
        $(window).on('load', function() {
            var showPopup = '@(Model.PopupItem != null)';
            if (showPopup === 'True'){
                $('#exampleModal').modal('show');
                }
        });
    </script>
}